language: python
python:
  - '3.6'
cache:
  pip: true
  directories:
    - /home/travis/.yarn-cache/
script:
  - pip install 'jupyterlab~=1.0'
  - python setup.py sdist
  - pip install --find-links=dist jupyterlab_git[test]
  - pytest jupyterlab_git
  - jlpm install
  - jlpm run build
  - jlpm run test
  - jupyter lab build
  - python -m jupyterlab.browser_check
  - jlpm run lint
  - python tests/test-browser/run_browser_test.py

deploy:
  - provider: pypi
    user: "$PYPI_USER"
    password: "$PYPI_TOKEN"
    distributions: "sdist bdist_wheel"
    on:
      tags: true
  - provider: npm
    email: "$NPM_EMAIL"
    api_key: "$NPM_TOKEN"
    on:
      tags: true