language: python
python:
  - '3.6'
cache:
  pip: true
  directories:
    - /home/travis/.yarn-cache/
install: pip install pytest
script:
  - pip install .
  - pytest tests/unit
  - yarn
  - yarn build
  - yarn test
  - jupyter serverextension enable --py jupyterlab_git
  - jupyter labextension install .
  - python -m jupyterlab.browser_check
  - yarn run lint
  - python -m tests.test-browser.run_browser_test
