language: python
python:
  - '3.6'
cache:
  pip: true
  directories:
    - /home/travis/.yarn-cache/
before_install:
  - nvm install 10
install: pip install pytest pytest-asyncio "jupyterlab~=1.1"
script:
  # Build the sdist (identical to what will be uploaded to eg pypi on release)
  - python setup.py sdist
  # Install the extension from the sdist ensuring the cache is unused
  - pip install jupyterlab_git[test] --pre --no-index --find-links=dist --no-deps --no-cache-dir -v
  # Install the extension dependencies based on the current setup.py
  - pip install jupyterlab_git[test]
  # Log the current state of jupyterlab's extensions
  - jupyter labextension list

  # Do a tslint check
  - jlpm run lint

  # Rebuild jupyterlab to include our extension
  - jupyter lab build

  # Run the Python tests
  - pytest jupyterlab_git -r ap
  # Run the TS/JS tests
  - jlpm run test
  # Run the standard jupyterlab browser integration test
  - python -m jupyterlab.browser_check
  # Run our extension-specific browser integration test
  - python tests/test-browser/run_browser_test.py
