include LICENSE
include README.md

include setupbase.py

include jupyterlab_git/labextension/*.tgz

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
