.jp-AddRemoteBox input {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jp-existing-remotes-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.jp-remote-list {
  list-style: none;
  margin-top: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}


jp-AddRemoteBox-warning {
  color: var(--jp-warn-color0);
}