.jp-git-PlainText-diff {
  width: 100%;
  max-height: calc(100% - 23px);
  overflow-y: auto;
}

/* .jp-git-PlainText-diff .cm-merge,
.jp-git-PlainText-diff .cm-merge .cm,
.jp-git-PlainText-diff .cm-merge .cm-merge-pane {
  height: 100%;
}

.jp-git-PlainText-diff .cm-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: var(--codemirror-border);
  border-right: var(--codemirror-border);
  position: relative;
  color: var(--jp-ui-font-color2);
  background: var(--jp-layout-color2);
} */

.jp-git-PlainText-diff .cm-merge-r-chunk {
  background-color: var(--jp-diff-deleted-color2);
}

.jp-git-PlainText-diff .cm-merge-r-chunk-start {
  border-top: 1px solid var(--jp-diff-deleted-color0);
}

.jp-git-PlainText-diff .cm-merge-r-chunk-end {
  border-bottom: 1px solid var(--jp-diff-deleted-color0);
}

.jp-git-PlainText-diff .cm-merge-r-connect {
  fill: var(--jp-diff-deleted-color2);
  stroke: var(--jp-diff-deleted-color0);
  stroke-width: 1px;
}

.jp-git-PlainText-diff .cm-merge-spacer {
  background-color: var(--jp-diff-deleted-color2);
}

.jp-git-PlainText-diff .cm-line .cm-merge-r-inserted {
  background-color: var(--jp-diff-added-color0);
}

.jp-git-PlainText-diff .cm-diff-right-editor .cm-merge-r-chunk {
  background-color: var(--jp-diff-added-color2);
}

.jp-git-PlainText-diff .cm-diff-right-editor .cm-merge-r-chunk-start {
  border-top: 1px solid var(--jp-diff-added-color0);
}

.jp-git-PlainText-diff .cm-diff-right-editor .cm-merge-r-chunk-end {
  border-bottom: 1px solid var(--jp-diff-added-color0);
}

.jp-git-PlainText-diff .cm-diff-right-editor .cm-merge-r-connect {
  fill: var(--jp-diff-added-color2);
  stroke: var(--jp-diff-added-color0);
  stroke-width: 1px;
}

.jp-git-PlainText-diff .cm-diff-right-editor .cm-merge-spacer {
  background-color: var(--jp-diff-added-color2);
}

.cm-patchgutter {
  width: 0.7em;
}

.cm-patchgutter-insert::before {
  content: '+';
  color: #999;
  background-color: var(--jp-git-diff-added-color);
}

.cm-patchgutter-delete::before {
  content: '-';
  color: #999;
  background-color: var(--jp-git-diff-deleted-color);
}

/* Styles for horizontal scroll lock */
.jp-git-PlainText-diff .cm-merge-scrolllock {
  color: var(--jp-inverse-layout-color2);
}

.jp-git-PlainText-diff .cm-merge-scrolllock::after {
  content: '\21db\00a0\00a0\21da';
}

.jp-git-PlainText-diff .cm-merge-scrolllock.cm-merge-scrolllock-enabled::after {
  content: '\21db\21da';
}

/* Styles for revert buttons handling */

.jp-git-PlainText-diff .cm-merge-copybuttons-left,
.jp-git-PlainText-diff .cm-merge-copybuttons-right {
  position: absolute;
  inset: 0;
  line-height: 1;
}

.jp-git-PlainText-diff .cm-merge-copy {
  position: absolute;
  cursor: pointer;
  color: var(--jp-brand-color1);
  z-index: 3;
}

.jp-git-PlainText-diff .cm-merge-copy-reverse {
  position: absolute;
  cursor: pointer;
  color: var(--jp-brand-color1);
}

.jp-git-PlainText-diff .cm-merge-copybuttons-left .cm-merge-copy {
  left: 2px;
}

.jp-git-PlainText-diff .cm-merge-copybuttons-right .cm-merge-copy {
  right: 2px;
}
